body {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
}

.main_container {
    max-width: 1400px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 50px 0;
}

header {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.nav_block {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar a {
    color: #ffffff;
    text-decoration: none;
}

.nav_bar a:hover {
    color: #ff8b38;
}

.nav_block ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav_block li {
    list-style-type: none;
    padding-left: 40px;
}

.header_section {
    padding: 180px 150px 140px;
    position: relative;
    background: url(../img/header.png) center;
    background-size: cover;
}

.header_block {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 140px;
}

.header_section h2 {
    color: #ffffff;
    text-align: left;
}

.header_section .title_block h2:after {
    background-color: #ffffff;
}

.header_section .title_block {
    text-align: left;
    margin: 0;
}

.title_head_block {
    width: 50%;
}

.signin_block {
    width: 30%;
}

.signin_title {
    background-color: #f5f5f5;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 15px 0 20px 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.signin_title span {
    color: #ff8b38;
    text-transform: uppercase;
}

.signin_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 40px 0 50px 0;
}

.signin_form .input_row:last-child {
    margin-bottom: 0;
}

.signin_form .input_row {
    width: 80%;
}

.signin_block .button_block button {
    width: 100%;
    border-radius: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.brand_bar {
    padding: 20px 0 25px 0;
    background-color: #fff;
    box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.62);
}

.brand_bar .social_lnk {
    color: #cccccc;
    font-size: 48px;
    padding-left: 65px;
}

.brand_bar .social_lnk:hover {
    color: #ff8b38;
}

.social_block {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_title {
    width: 30%;
    font-family: "Open Sans", sans-serif;
}

.social_title h3 {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 10px 0;
}

.social_title p {
    color: #86878b;
    font-size: 14px;
    margin: 0;
}

.section {
    padding: 110px 0 105px;
}

.title_block {
    text-align: center;
    margin-bottom: 40px;
}

p {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 10px;
}

.title {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.title_block h2 {
    position: relative;
}

.title_block h2:after {
    content: '';
    display: block;
    height: 2px;
    width: 64px;
    background-color: #ff8c2d;
    position: absolute;
    left: calc(50% - 32px);
    bottom: -24px;
    background-size: cover;
}

.chocalate_bar_block {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.block_with_icon {
    /* padding: 0 15px; */
    text-align: center;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    margin: auto;
    font-size: 32px;
    color: #ff8b38;
    font-family: "Open Sans", sans-serif;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}

.icon {
    margin: auto;
}

.pricing_section {
    background-color: #f5f5f5;
    padding: 100px 0 95px;
}

.pricing_columns_block {
    display: flex;
    padding: 0 145px;
}

.pricing_block {
    text-align: center;
    width: 33.3%;
    align-self: flex-end;
}

.pricing_column {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #86878b;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0 20px;
}

.pricing_column li {
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0 15px;
    background-color: #ffffff;
}

.pricing_column .header {
    background-color: #2f2f2f;
    font-size: 20px;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-transform: none;
    padding: 20px 0 20px;
}

.pricing_column .price {
    background-color: #2f2f2f;
    font-size: 35px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-weight: 700;
    line-height: 0.686;
    text-transform: none;
    padding: 30px 0 10px;
}

.pricing_column .payment {
    background-color: #2f2f2f;
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.714;
    border-bottom: none;
    text-transform: none;
    padding: 15px 0 20px;
}

.pricing_column .empty {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    background-color: #ff8c2c;
    padding: 0;
    height: 2px;
}

.pricing_columns_block .pricing_block:nth-child(2) .pricing_column .empty {
    padding: 8px 0;
    height: fit-content;
}

.testimonial_section {
    width: 80%;
    margin: 0 auto;
    padding: 110px 0 95px 0;
}

.testimonial_block {
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.testimonial_column {
    width: 25%;
}

.testimonial_text {
    background-color: #f5f5f5;
    padding: 25px 15px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    font-style: italic;
    color: #86878b;
}

.testimonial_text:after {
    content: '';
    position: absolute;
    left: 25px;
    bottom: -30px;
    border: 10px solid transparent;
    border-top: 20px solid #f5f5f5;
}

.customer_block {
    display: flex;
    align-items: center;
}

.customer_avatar {
    margin-right: 15px;
}

.customer_name {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
}

.custom_section {
    padding: 21px 0;
    position: relative;
}

.custom_section p {
    font-size: 16px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    position: relative;
}

.custom_section h2 {
    color: #ffffff;
}

.custom_section .title_block h2:after {
    background-color: #ffffff;
}

.custom_section::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: url(../img/u25_state0.png) center;
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: -1;
}

.custom_section::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.btn a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    border: 2px solid #ffffff;
    display: inline-block;
    padding: 10px 30px;
    margin: 20px 0;
}

.custom_section a:hover {
    background-color: #ffffff;
    color: #000000;
}

footer {
    background: black;
    color: #ffffff;
    text-align: center;
    padding: 40px 0 15px;
}

footer p {
    font-size: 12px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: space-around;
    padding: 0 540px;
}

.sprite {
    background-image: url(../img/social.png);
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 30px;
}

.sprite-facebook {
    background-position: 10px 5px;
}

.sprite-twitter {
    background-position: -40px 3px;
}

.sprite-gmail {
    background-position: -90px 5px;
}

.sprite-pinterest {
    background-position: -140px 5px;
}

.sprite-instagram {
    background-position: -190px 5px;
}

.sprite-stumbleUpon {
    background-position: -240px 5px;
}

.sprite-rss {
    background-position: -290px 5px;
}

.contact_section {
    padding: 100px 140px;
}

.contact_form .input_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contact_form .input_block>div {
    width: 48%;
}

.input_row {
    position: relative;
    margin-bottom: 40px;
}

.contact_form .input_block>div .input_row:last-child {
    margin-bottom: 0;
}

.input_row label {
    position: absolute;
    left: 12px;
    font-size: 14px;
    color: #bdbdbd;
    top: 0;
    transition: top .5s ease 0s;
}

.input_row input,
.input_row textarea {
    border: none;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
}

.input_row textarea {
    height: 100%;
    resize: none;
    padding: 0;
}

.second_block .input_row {
    height: 100%;
}

.input_row input:focus,
.input_row textarea:focus {
    outline: none;
    border-bottom-color: green;
}

.input_row input:focus+label,
.input_row textarea:focus+label {
    color: green;
    top: -30px;
}

.button_block {
    display: flex;
    justify-content: center;
}

.button_block button,
.button_block a {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #ff9b51;
    font-size: 15px;
    color: #fff;
    padding: 15px 25px;
    border: 1px solid #ff9b51;
}

.button_block button:hover {
    background-color: #fff;
    color: #ff9b51;
    border: 1px solid #ff9b51;
}

.tabs_section {
    background-color: #f5f5f5;
    padding: 145px 0 115px 0;
}

.tabs_block {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 0 auto;
}

.tabs_button_block {
    width: 10%;
}

.tabs_content_block {
    width: 40%;
}

.tabs_button_block a:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.tabs_button_block a.active {
    background-color: #ff8b38;
}

.tab {
    display: none;
}

.tabs_content_block .tab.active {
    display: block;
}

.image_block {
    width: 25%;
}

.image_block img {
    width: 100%;
}

.tabs_button_block li {
    list-style-type: none;
    background-color: #333333;
    margin: 2px 0;
}

.tabs_button_block a {
    text-decoration: none;
}

.tabs_button_block {
    display: flex;
    flex-direction: column;
}

.tab_btn {
    padding: 50px 0;
    text-align: center;
    background-color: #333333;
    color: #fff;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.tabs_content_block h3 {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 55px;
}

.tabs_content_block p {
    font-size: 1.4rem;
    margin-bottom: 30px;
    color: #86878b;
}

.tabs_content_block .button_block {
    justify-content: flex-start;
    padding-top: 10px;
}

.tabs_content_block>div {
    display: none;
}

.tabs_content_block {
    display: block;
}