/* a:active {
    color: green;
}
a:visited {
    color: cadetblue;
}
p:hover{
    font-size: 40px;
}

* {
    margin: 0;
} */

div {
    width: 50px;
    height: 50px;
    /* display: inline-block; */
    /* background: green; */
}

/* body div:nth-child(1){
    background: green;
}

body div:nth-child(2){
    background: red;
}

body div:nth-child(3){
    background: blue;
} */

.wrapper {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.firstDiv {
    /* float: left; */
    background-color: green;
}

.secondDiv {
    background: red;
    /* float: left;
    clear: left; */
}

.thirdDiv {
    background: blue;
    /* float: left; */
}

.myCalendar{
    color: tomato;
    font-size: 500px;
}
